
! ##############
! # Xft settings
! ##############

Xft.dpi:                    96
! Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! ################
! # URXVT settings
! ################

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       3
URxvt.lineSpace:            0

URxvt*saveLines:	    12000

URxvt.foreground:	    #FFFFFF
URxvt*foreground:	    #FFFFFF
URxvt*background:	    #000000

! URxvt*font:		    xft:Misc Fixed:medium:size=12
URxvt*font:		    7x14
! URxvt*boldFont:		    7x14bold
URxvt*boldFont:		    7x14
URxvt*letterSpace:	    0

URxvt*scrollBar:	    true
URxvt*scrollBar_right:	    false
URxvt*scrollstyle:	    next
